@media only screen and (max-aspect-ratio: 65/54) {
  .portrait {
    z-index: 0;
    position: absolute;
    /* height: 50vh; */
    /* width: 100%; */
  }
  .grey_box {
    background-color: #656565;
    clip-path: polygon(0% 40%, 100% 15%, 100% 100%, 0% 100%);
  }
  .grey_box_container{
    width: auto;
  }

  #Intro_Box {
    /* padding: 0em; */
    margin-right: 0em;
    margin-bottom: 2em;
    height: 70vh;
    width: 100vw;
    font-size: 2rem;
    align-self: end;
    text-align: unset;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    align-content: space-around;
    flex-wrap: nowrap;
}

  #links{
    /* align-self: center; */
    font-size: 0.8em
  }
}

  /* min-aspect-ratio: 65/54 */
  /* max-width: 760px */

  @media only screen and (max-width: 450px) {
      body{
        color: red;
      }
  }
  @media screen and (min-aspect-ratio: 269/222) {
    body{
      color: green;
    }
  }
  @media only screen and (max-width:20em) and (max-height:40.625em){
    body{
      color: orange;
    }
  }